{% extends '@Fulguration/base.html.twig' %}

{% block body %}

<style>
    a {
        color: inherit;
    }
</style>
<!--start intro-->
<section class="text-center">
    <h1 class="text-center">Modifier</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul class="text-center">
        <li>
            <a href="{{ path('diplome_index') }}"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</section>
{% endblock %}
