{% extends '@Fulguration/base.html.twig' %}

{% block body %}
<style>
    .aDiplome {
        opacity: 1;
        color: inherit;
        /*color: red !important;*/
    }
</style>
<!--start intro-->
<section>
    {#<hgroup>#}
    <h1>Diplômes</h1>

    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Année</th>
            </tr>
        </thead>
        <tbody>
        {% for diplome in diplomes %}
            <tr>
                <td>{{ diplome.nom }}</td>
                <td>{{ diplome.date }}</td>
                <td>
                    <a class="aDiplome"
                       data-toggle="tooltip"
                       title="Modifier"
                       href="{{ path('diplome_edit', { 'id': diplome.id }) }}">
                        <i class="fa fa-pencil pink" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
